body {
	margin:0px;
	background-color:#002233;
	background: -moz-linear-gradient(top, rgba(0,34,51,1) 0%, rgba(0,34,51,1) 45%, rgba(0,0,0,1) 100%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,34,51,1)), color-stop(45%,rgba(0,34,51,1)), color-stop(100%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,1)));
	background: -webkit-linear-gradient(top, rgba(0,34,51,1) 0%,rgba(0,34,51,1) 45%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%);
	background: -o-linear-gradient(top, rgba(0,34,51,1) 0%,rgba(0,34,51,1) 45%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,34,51,1) 0%,rgba(0,34,51,1) 45%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%);
	background: linear-gradient(to bottom, rgba(0,34,51,1) 0%,rgba(0,34,51,1) 45%,rgba(0,0,0,1) 100%,rgba(0,0,0,1) 100%);
	min-width:850px;
	font-family:'Oxygen', sans-serif;
	height:100%;
	}
 
input[type=submit] {
	text-decoration:none;
	color:white;
	text-shadow: 1px 1px 1px #222;
	background: #3498db;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size:.8em;
	padding:3px;
	border:1px solid #3498db;
	box-sizing:border-box;
	box-shadow:1px 1px 2px #222;;

}

hr{
	height: 1px;
	color: #C8D1CE;
	background-color: #C8D1CE;
	border: none;
}

/*confirmation flare */
.confirmation{
	width:100%;
	color:white;
	background-color:rgba(52,108,61,1);
	padding:3px;
	text-align:center;

}
#password_confirmation{
	display:none;
}
#email_confirmation{
	display:none;
}

.panel_title {
	font-family:'Oxygen', sans-serif;
	text-align:center;
}

.header_table{
	width:100%;
	min-width:850px;
	background-image: url("../images/login_bg.png");
	background-repeat:repeat-x;
	background-color:#002233;
	display:table;re
	height:100px;
	position:relative;
}

#new_user_overlay {
   	position: absolute;
	left: 0px;
	top: 0px;
	width:100%;
	height:100%;
	text-align:center;
	background-color:#332B24;
	background-color:rgba(256,256,256,.70);
	z-index: 1000;
}
#new_user_overlay div {
	visibility:inherit;
	font-family:'Oxygen', sans-serif;
	width:50%;
	min-width:200px;
	margin: 100px auto;
	background-color: #fff;
	border:1px solid #000;
	padding:15px;
	text-align:center;
}
#new_user_overlay a{
	visibility:inherit;
    font-weight: bold;
	text-decoration:none;
	color:white;
	text-shadow: 1px 1px 1px #222;
	background: #3498db;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	padding:5px;
	border:1px solid #3498db;
	box-sizing:border-box;
	box-shadow:1px 1px 2px #222;
}

#logo_space {
	padding:10px;
	float:left;
}

#login_area {

	position:absolute;
	font-family:'Oxygen', sans-serif;
	text-align: center;
	margin-top:10px;
	padding:20px;
	right:0px;
	width:400px;
}

#login_box {

	font-weight: bold;
	color:white;
}

#login_box a {
	font-weight: bold;
	text-decoration:none;
	color:white;
	text-shadow: 1px 1px 1px #222;
	background: #3498db;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	padding:5px;
	border:1px solid #3498db;
	box-sizing:border-box;
	box-shadow:1px 1px 2px #222;
}

#login_register_form {
	display:block;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	font-family:sans-serif;
	background-color: white;
	text-align: center;
	border:1px solid black;
	width:500px;
	margin:auto;
	margin-top:20px;
	box-shadow:0px 6px 2px #222;
	overflow:hidden;

}
#login_register_form_title {
	width:100%;
	color:white;
	background-color: #64b3e8;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:25px;
	vertical-align:middle;

}
#login_register_form label {
	display:inline-block;
	float:left;
	clear:left;
	width: 250px;
	text-align:right;
	padding-right:5px;

}
#login_register_form input {
	display:inline-block;
}
#login_register_form .field_subtext {
	display:inline-block;
	font-size:.85em;
	font-style:italic;
	color:#424242;
}
#login_register_form #name, #password, #passwordconf, #email {
	float:left;
}

.colmask {
	position:relative;	
	clear:both;
	float:left;
	width:100%;
		
	overflow:hidden;		
}

.colright,
.colmid,
.colleft {
	float:left;
	width:100%;	
		
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;						

}


.threecol .colmid {
	right:25%;			
	
}
.threecol .colleft {
	right:50%;			

}
.threecol .col1 {
	width:46%;			
	left:102%;	
	padding-top: 10px;		
}
.threecol .col2 {
	width:21%;			
	left:31%;
	padding-top: 10px;	

}
.threecol .col3 {
	width:21%;			
	left:85%;
	padding-top: 10px;		
}

.main_box {
	-webkit-box-shadow: 0px 22px 52px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 22px 52px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 22px 52px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0px 0px 29px 0px rgba(35,45,51,1);
	-moz-box-shadow: inset 0px 0px 29px 0px rgba(35,45,51,1);
	box-shadow: inset 0px 0px 20px 0px rgba(35,45,51,.4);
	border:1px solid black;
	border-radius: 5px;
	padding:10px;
	background-color:#E4EEF5;
	background-image: url('../images/box_fx.png');
	background-repeat: repeat-x;
	background-position: top;
	
}
   
.box {
	border:1px solid gray;
	list-style-type: none;
	overflow:hidden;
	border-radius:5px;
	padding:10px;
	background-color:#fff;
	-webkit-box-shadow: 0px 22px 52px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 22px 52px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 22px 52px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: inset 0px 0px 29px 0px rgba(35,45,51,1);
	-moz-box-shadow: inset 0px 0px 29px 0px rgba(35,45,51,1);
	box-shadow: inset 0px 0px 20px 0px rgba(35,45,51,.4);
	background-color:#E4EEF5;
	background-image: url('../images/box_fx.png');
	background-repeat: repeat-x;
	background-position: top;
}	
.box a{
	color:#002233;
}
.box a:visited{
	color:#002233;
}
.box a:hover{
	color:#002233;
}


.textbox {
	width:100%;
	border:1px solid #gray;
}
.textbox:focus{
	-webkit-box-shadow: 0px 0px 5px 0px rgba(81,162,224,1);
-moz-box-shadow: 0px 0px 5px 0px rgba(81,162,224,1);
box-shadow: 0px 0px 5px 0px rgba(81,162,224,1);
}



.post_listing {
	
	font-family:'Oxygen', sans-serif;

	}

.page_buttons {
	text-align:center;
}



.listing_buttons{
	text-decoration:none;
	color:white;
	text-shadow: 1px 1px 1px #222;
	background: #3498db;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size:.8em;
	padding:3px;
	border:1px solid #3498db;
	box-sizing:border-box;
	box-shadow:1px 1px 2px #222;;
}
.listing_buttons a{
	text-decoration:none;
	color:white;
}
.listing_buttons a:visited{
	text-decoration:none;
	color:white;
}
.listing_buttons a:hover{
	text-decoration:none;
	color:white;
}


.datetime {
	color:gray;
	line-height:175%;
}

.post_listing_title {
	color:#002233;
	font-size:1.2em;
	line-height:175%;
}
.post_listing_body {
	color:gray;
	font-style:italic;
}
