body {
	margin:0px;
	background-color:#332B24;
	min-width:850px;
	}

.panel_title {
	font-family:sans-serif;
	text-align:center;
}

.header_table{
	width:100%;
	min-width:850px;
	background-image: url("../images/banner_bg.jpg");
	background-repeat:repeat-x;
	background-color:#ff9933;
	display:table;
	height:100px;
	position:relative;


}

#new_user_overlay {
   
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     background-color:#332B24;
     background-color:rgba(256,256,256,.70);
     z-index: 1000;
}
#new_user_overlay div {
	visibility:inherit;
	 font-family:sans-serif;
     width:50%;
     min-width:200px;
     margin: 100px auto;
     background-color: #fff;
     border:1px solid #000;
     padding:15px;
     text-align:center;
}
#new_user_overlay a{
	visibility:inherit;
    font-weight: bold;
	text-decoration:none;
	color:white;
	text-shadow: 1px 1px 1px #222;
	background: #3498db;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	padding:5px;
	border:1px solid #3498db;
	box-sizing:border-box;
	box-shadow:1px 1px 2px #222;
}

#logo_space {
	padding:10px;
	float:left;
}

#login_area {

	position:absolute;
	font-family:sans-serif;
	text-align: center;
	margin-top:10px;
	padding:20px;
	right:0px;
	width:400px;
}

#login_box {

	font-weight: bold;
	color:green;
}

#login_box a {
	font-weight: bold;
	text-decoration:none;
	color:white;
	text-shadow: 1px 1px 1px #222;
	background: #3498db;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	padding:5px;
	border:1px solid #3498db;
	box-sizing:border-box;
	box-shadow:1px 1px 2px #222;
}

#login_register_form {
	display:block;
	-webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	font-family:sans-serif;
	background-color: white;
	text-align: center;
	border:1px solid black;
	width:500px;
	margin:auto;
	margin-top:20px;
	box-shadow:0px 6px 2px #222;
	overflow:hidden;

}
#login_register_form_title {
	width:100%;
	color:white;
	background-color: #64b3e8;
	background: -webkit-gradient(linear, left top, left bottom, from(#64b3e8), to(#00548c));
    background: -webkit-linear-gradient(top, #64b3e8, #00548c);
    background: -moz-linear-gradient(top, #64b3e8, #00548c);
    background: -ms-linear-gradient(top, #64b3e8, #00548c);
    background: -o-linear-gradient(top, #64b3e8, #00548c);
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:25px;
	vertical-align:middle;

}
#login_register_form label {
	display:inline-block;
	float:left;
	clear:left;
	width: 250px;
	text-align:right;
	padding-right:5px;

}
#login_register_form input {
	display:inline-block;
}
#login_register_form .field_subtext {
	display:inline-block;
	font-size:.85em;
	font-style:italic;
	color:#424242;
}
#login_register_form #name, #password, #passwordconf, #email {
	float:left;
}



.colmask {
	position:relative;	
	clear:both;
	float:left;
	width:100%;
		
	overflow:hidden;		
}

.colright,
.colmid,
.colleft {
	float:left;
	width:100%;	
		
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;						
	overflow:hidden;
}

.threecol {
	background:#eee;		
}
.threecol .colmid {
	right:25%;			
	background:#fff;		
}
.threecol .colleft {
	right:50%;			
	background:#f4f4f4;	
}
.threecol .col1 {
	width:46%;			
	left:102%;	
	padding-top: 10px;		
}
.threecol .col2 {
	width:21%;			
	left:31%;
	padding-top: 10px;	

}
.threecol .col3 {
	width:21%;			
	left:85%;
	padding-top: 10px;		
}

.main_box {
	border:1px solid black;
	border-radius: 25px;
	padding:10px;
}
.box {
	border:1px solid gray;
	list-style-type: none;
	border-radius: 25px;
	padding:10px;
}	

.textbox {
	width:100%;
}



.post_listing {
	
	font-family:sans-serif;
	
	}

.edit_delete {
	text-align: right;
}

.datetime {
	color:gray;
}

.post_listing_title {
	color:orange;
	font-size:2em;
}
.post_listing_body {
	color:gray;
	font-style:italic;
}
