body {
	background-image:url("bg.jpg");
	font-family:sans-serif;
}

#wrapper {
	width:70%;
	margin:auto;
	min-width:960px;
	height:95%;

}

#header{
	display:block;
	margin-top:30px;
	line-height: 450%;
	text-align:center;
}

#header .title {
	font-size:5.5em;
	color:#484687;
	font-family: Niconne, cursive;
	text-shadow: 0px 0px 8px rgba(195, 57, 119, 0.66);
}
#header .title a{
	text-decoration:none;
	color:#484687;
}
#header .title a:visited{
	text-decoration:none;
	color:#484687;
}
#header .title a:active{
	text-decoration:none;
	color:#484687;
}
#header .title a:hover{
	text-decoration:none;
	color:white;
}

#header .subtitle {
	font-size:2.3em;
	color:#484687;
	font-family: Niconne, cursive;
	text-shadow: 0px 0px 8px rgba(256, 256, 256, 1);

}

#main {
	display:block;
	background-color:rgb(255, 222, 245);
	background-color:rgba(255, 222, 245, .8);
	border-radius:20px;
	float:left;
	width:68%;
	margin-top:5px;
	margin-bottom:30px;
	padding:10px;
	position:relative;

}

.post_title {
	color:rgb(195, 57, 119);
	font-size:3em;
	font-family: Niconne, cursive;
}
.post_body {
	color:rgb(195, 57, 119);
	font-family: Niconne, cursive;
}

.post_listing {	
	font-family:sans-serif;

}

.post_listing a {	
	font-family: Niconne, cursive;
	color:rgb(195, 57, 119);
	text-decoration:none;
}
.post_listing a:visited {	
font-family: Niconne, cursive;
	color:rgb(195, 57, 119);
	text-decoration:none;	
}
.post_listing a:hover {	
font-family: Niconne, cursive;
	color:white;	
}


.datetime {
	color:#484687;
}
.post_listing_title {
	color:rgb(195, 57, 119);
	font-size:3.5em;
}

.post_listing_body {
	color:black;
}

.page_buttons {
	font-family: Niconne, cursive;
	color:rgb(195, 57, 119);
	font-size:1.9em;
	line-height:.75%;
}
.page_buttons a{
	text-decoration:underline;
}
.page_buttons a:hover{
	color:#484687;
}
.prev_entry_button{
	text-align:left;
}
.next_entry_button{
	float:right;
}

#sidebox {
	display:block;
	float:right;
	position:relative;
	width:29%;
	margin-top:5px;
}
#sidebox h3 {
	margin-top:10px;
}

#about_box {
	color:#293A63;
	background-color:rgb(248, 207, 252);
	background-color:rgba(248, 207, 252, .8);
	border-radius:20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:1px;
	margin-bottom:16px;
}
#about_box h3 {
	color:rgb(195, 57, 119);
	font-family: Niconne, cursive;
	font-size:2em;
	font-weight:normal;
}

#about_flair {
	position:absolute;
	right:-20px;
	top:-20px;
}

#posts_box{
	display:block;
	border-radius:20px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	padding-top:1px;
	background-color:rgb(248, 207, 252);
	background-color:rgba(248, 207, 252, .8);
	position:relative
}

#posts_box h3{
	color:rgb(195, 57, 119);
	font-family: Niconne, cursive;
	font-size:2em;
	font-weight:normal;
}

#history_flair {
	position:absolute;
	right:-20px;
	top:-20px;
}
.history_listing{
	color:rgb(195, 57, 119);

}
.history_listing a{
	color:rgb(195, 57, 119);
	text-decoration:none;
}
.history_listing a:visited{
	color:rgb(195, 57, 119);
	text-decoration:none;
}
.history_listing a:hover{
	color:#484687;
	text-decoration:none;
}
.history_listing a:active{
	color:#293A63;
	text-decoration:none;
}

.history_listing_title{
	color:rgb(195, 57, 119);
	font-family: Niconne, cursive;
	font-size:2em;
}

.history_datetime{
	color:#484687;
	font-size:.9em;
}

#footer_pad{
	height:10px;
}

#footer_wrapper{
	clear:both;
	width:500px;
	margin-left:43.5%;
}

#footer{
	font-family:sans-serif;
	font-size:.85em;
	color:#484687;
}
#footer a{
	color:#484687;
}
#footer a:active, a:visited{
	color:#484687;
}
#footer a:hover {
	color:rgb(195, 57, 119);
}